@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Days Since Purchase";
} 

<h2>@ViewData["Title"]</h2>

<p>It has been @ViewData["DaysElapsed"] days since this item was purchased.</p>

